<div class="container">

	<h1>Créer une présentation</h1>
	<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/presentations/createPost">
		<fieldset>
			<% if(flash && flash.success) { %>
				<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p style="color : blue;"><%- JSON.stringify(flash.success) %></p>
				</div>
				<% } else if (flash && flash.err){ %>
					<div class="alert alert-danger alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  					<p style="color : blue;"><strong>Warning!</strong> <%- JSON.stringify(flash.err) %></p>
					</div>
					<% } %>

			<!-- Text input-->
			<div class="container">
				<legend>Nom de la presentation</legend>
				<div class="form-group">
					<div class="col-md-5">
						<input id="textinput" name="name" type="text" maxlength="20" placeholder="Nom de la présentation" class="form-control input-md" required="">
						<p>Taille max: 20 caractères</p>
					</div>
				</div>
			</div>

			<!-- PARTIE BOOTSTRATDATEPICKER -->
			<div class="container">
				<legend>Début</legend>
				<div class='col-md-5'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker6'>
							<input id="textinput" name="start" type='text' placeholder="Début présentation"  class="form-control" required="" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<legend>Fin</legend>
				<div class='col-md-5'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker7'>
							<input id="textinput" name="end" type='text' placeholder="Fin présentation" class="form-control" required=""/>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<legend>Description</legend>
				<div class='col-md-5'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker7'>
  						<textarea class="form-control" maxlength="245" name="description" type="text" cols="70" rows="5" id="description" placeholder="Description de la présentation" required=""></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<legend>Localisation</legend>
				<div class='col-md-5'>
					<div class="form-group">
						<select class="form-control" id="selectedLocation" name="selectedLocation">
							<% _.each(infos[0], function (location) { %>
			        <option value="<%= JSON.stringify(location.get('geopoint')) %>"><%= location.get('address') %></option>
							<% }) %>
			      </select>
					</div>
				</div>
			</div>
			<div class="container">
				<legend>Image de présentation</legend>
				<div class='col-md-5'>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker6'>
							<input type="file" name="picture" id="picture" required=""></input>
						</div>
					</div>
				</div>
			</div>

			<!-- Button -->
			<div class="container" style="margin-top:30px;">
				<div class="form-group">
					<div class="col-md-4">
						<button type="submit" disabled name="create" class="btn btn-primary">Créer présentation</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker6').datetimepicker();
		$('#datetimepicker7').datetimepicker({
	            useCurrent: false //Important! See issue #1075
	        });
		$("#datetimepicker6").on("dp.change", function (e) {
			$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
		});
		$("#datetimepicker7").on("dp.change", function (e) {
			$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
		});
		$(document).ready(
    function(){
        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('button:submit').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled');
                }
            }
            );
    });
		function createAutoClosingAlert(selector, delay) {
   		var alert = $(selector).alert();
   		window.setTimeout(function() { alert.alert('close') }, delay);
		}
		createAutoClosingAlert(".alert", 2000);
	});
</script>
