<div id="content">

</div>

<script type="text/babel">



var Table = ReactBootstrap.Table;
var Button = ReactBootstrap.Button;
var Alert = ReactBootstrap.Alert;
var Modal = ReactBootstrap.Modal;
var Input = ReactBootstrap.Input;
var Glyphicon = ReactBootstrap.Glyphicon;
var DropdownButton = ReactBootstrap.DropdownButton;
var DateTimeField = ReactBootstrap.DateTimeField;
// var IntlMixin     = ReactIntl.IntlMixin;
// var FormattedDate = ReactIntl.FormattedDate;

const AlertAutoDismissable = React.createClass({
  getInitialState() {
    return {
      alertVisible: true
    };
  },

  render() {
    if (this.state.alertVisible) {
      return (
        <Alert bsStyle="danger" onDismiss={this.handleAlertDismiss} dismissAfter={2000}>
          <h4>Oh snap! You got an error!</h4>
          <p>But this will hide after 2 seconds.</p>
        </Alert>
      );
    }

    return (
      <Button onClick={this.handleAlertShow}>Show Alert</Button>
    );
  },

  handleAlertDismiss() {
    this.setState({alertVisible: false});
  },

  handleAlertShow() {
    this.setState({alertVisible: true});
  }
});


const EditModal = React.createClass({
  getInitialState() {
    return {
      show: false,
      name: this.props.name,
      start: this.props.start,
      end: this.props.end,
      id: this.props.id,
      styleButton : "primary",
      alertVisible: false,
      messageError: ""
    };
  },
  save: function(){
    var data = {
      name: this.state.name,
      start: this.state.start,
      end: this.state.end,
      id: this.state.id
    };
    $.ajax({
      url: '/presentations/edit',
      dataType: 'json',
      type: 'POST',
      data: data,
      success: function(data) {
        this.setState({ show: false});
        this.changeStyleButton("success");
      }.bind(this),
      error: function(res, status, err) {
        //alert("Something went wrong when you tried to edit a presentation");
        this.changeStyleButton("danger");
        this.setState({messageError: "Something went wrong: res: "+res+" status "+status+" error "+err})
        this.setState({alertVisible: true});
        // this.setState({ show: false});
      }.bind(this)
    });
  },
  handleNameChange: function(event) {
    this.setState({ name: event.target.value });
  },
  handleStartChange: function(event) {
    this.setState({ start: event.target.value });
  },
  handleEndChange: function(event) {
    this.setState({ end: event.target.value });
  },
  handleAlertDismiss() {
    this.setState({alertVisible: false});
  },

  handleAlertShow() {
    this.setState({alertVisible: true});
  },
  changeStyleButton: function(state){
    var that = this;
    this.setState({ styleButton: state});
    setTimeout(function(){
      that.setState({ styleButton: "primary"});
    }, 2000);
  },
  render() {
    let close = () => this.setState({ show: false});
    var name = this.state.name;
    var start = this.state.start;
    var end = this.state.end;

    var alert = (
          <Alert bsStyle="danger" onDismiss={this.handleAlertDismiss} >
            <h4>{this.state.messageError}</h4>
          </Alert>
    );
    if (!this.state.alertVisible){
      alert = null;
    }

    return (
      <div className="modal-container">
        <Button
          bsStyle={this.state.styleButton}
          bsSize="xsmall"
          onClick={() => this.setState({ show: true})}
        >
          Edit
        </Button>

        <Modal
          show={this.state.show}
          onHide={close}
          container={this}
          aria-labelledby="contained-modal-title"
        >
          <Modal.Header closeButton>
            <Modal.Title id="contained-modal-title">Edit Presentation</Modal.Title>
          </Modal.Header>
          {alert}
          <Modal.Body>
          <form className="form-horizontal">
              <Input type="text" label="Name" labelClassName="col-xs-2" wrapperClassName="col-xs-10" value={name} onChange={this.handleNameChange}/>
              <Input type="text" label="Start" labelClassName="col-xs-2" wrapperClassName="col-xs-10" value={start} onChange={this.handleStartChange}/>
              <Input type="text" label="End" labelClassName="col-xs-2" wrapperClassName="col-xs-10" value={end} onChange={this.handleEndChange}/>
          </form>
          </Modal.Body>
          <Modal.Footer>
            <Button onClick={this.save} bsStyle="success">Save</Button>
            <Button onClick={close}>Close</Button>
          </Modal.Footer>
        </Modal>
      </div>
    );
  }
});

var Presentations = React.createClass({
  loadPresentationsFromServer: function(){
    $.ajax({
          url: this.props.url,
          dataType: 'json',
          cache: false,
          success: function(data) {
            this.setState({presentations_parse: data});
          }.bind(this),
          error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
          }.bind(this)
        });
  },
  getInitialState: function() {
    return {
      presentations_parse: []
    };
  },
  componentDidMount: function() {
    this.loadPresentationsFromServer();
    setInterval(this.loadPresentationsFromServer, this.props.pollInterval);
  },
  render: function(){
    var presentations = this.state.presentations_parse.map(function(presentation, index) {
      var start = moment(presentation.start.iso).zone(0).format('MM/DD/YYYY HH:mm');
      var end = moment(presentation.end.iso).zone(0).format('MM/DD/YYYY HH:mm');
      var name = presentation.name;
      var id = presentation.objectId;
      return (
        <tr key={id}>
          <td >{index+1}</td>
          <td >{name}</td>
          <td >{start}</td>
          <td >{end}</td>
           <td ><EditModal id={id} name={name} start={start} end={end}/></td>
        </tr>
      );
    }, this);
    var thEditStyle = {
      width: 40
    };
    const tableInstance = (
      <Table striped bordered condensed hover>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th style={thEditStyle}>Edit</th>
          </tr>
          </thead>
          <tbody>
              {presentations}
          </tbody>
      </Table>
    );
    return (
      tableInstance
    );
  }
});

var DisplayContainer2 = React.createClass({
    mixins: [React.addons.LinkedStateMixin],
    getInitialState:function(){
        return{
            value:'My Value',
            value2:'My Value2'
        }
    },
    render:function(){
        return (
            <div className="DisplayContainer">
                <h4>{this.state.value}</h4>
                <h4>{this.state.value2}</h4>
                <InputBox2 valueLink={this.linkState('value')}  valueLink={this.linkState('value2')} />
            </div>
        );
    }
});

var InputBox2 = React.createClass({
    render:function(){
        return (
          <div>
          <input type="text" valueLink={this.props.valueLink} />
          <input type="text" valueLink={this.props.valueLink} />
          </div>
      )
    }
});

ReactDOM.render(
   //<DisplayContainer2/>,
    <Presentations url="/react/presentations/" pollInterval={2000}/>,
    document.getElementById('content')
  );

</script>
