<div id="content">

</div>

<!-- <script >
  var DateTimeField = require('react-bootstrap-datetimepicker');
</script> -->
<!-- <script type="text/javascript" srx="/js/input-moment/input-moment.js"></script> -->
<script type="text/javascript" src="/React/bundleTest.js"></script>
