<div class="container">
  <h1> INSA Toulouse </h1>
  <h2>INSA JPO</h2>
  <p>Veuillez selectionner les présentations.......</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      	<% _.each(presentations, function (presentation) { %>
      <tr>
        <td><%= presentation.get('name') %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
